Repository Interactive-AI-Labs/interactive-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-docs, check-go-mod-tidy

make-docs:
  name: Generate CLI documentation
  entry: bash -c 'make docs && git diff --exit-code docs/'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

check-go-mod-tidy:
  name: Check go.mod is tidy
  entry: go mod tidy
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

update docs
  docs/iai.md
  docs/iai_completion.md
  docs/iai_completion_bash.md
  docs/iai_completion_fish.md
  docs/iai_completion_powershell.md
  docs/iai_completion_zsh.md
  docs/iai_images.md
  docs/iai_images_build.md
  docs/iai_images_list.md
  docs/iai_images_push.md
  docs/iai_login.md
  docs/iai_logout.md
  docs/iai_logs.md
  docs/iai_organizations.md
  docs/iai_organizations_list.md
  docs/iai_organizations_select.md
  docs/iai_projects.md
  docs/iai_projects_list.md
  docs/iai_replicas.md
  docs/iai_replicas_list.md
  docs/iai_secrets.md
  docs/iai_secrets_create.md
  docs/iai_secrets_delete.md
  docs/iai_secrets_get.md
  docs/iai_secrets_list.md
  docs/iai_secrets_update.md
  docs/iai_services.md
  docs/iai_services_create.md
  docs/iai_services_delete.md
  docs/iai_services_list.md
  docs/iai_services_restart.md
  docs/iai_services_sync.md
  docs/iai_services_update.md
Due: none

use string.HasPrefix
  internal/clients/http_test.go
Due: make-docs

Move tagging to main branch
  .bumpversion.toml
  .github/workflows/auto-tag.yml
Due: none

Add command to be able to select a project
  cmd/images.go
  cmd/logs.go
  cmd/projects.go
  cmd/replicas.go
  cmd/secrets.go
  cmd/services.go
  docs/iai.md
  docs/iai_completion.md
  docs/iai_completion_bash.md
  docs/iai_completion_fish.md
  docs/iai_completion_powershell.md
  docs/iai_completion_zsh.md
  docs/iai_images.md
  docs/iai_images_build.md
  docs/iai_images_list.md
  docs/iai_images_push.md
  docs/iai_login.md
  docs/iai_logout.md
  docs/iai_logs.md
  docs/iai_organizations.md
  docs/iai_organizations_list.md
  docs/iai_organizations_select.md
  docs/iai_projects.md
  docs/iai_projects_select.md
  docs/iai_replicas.md
  docs/iai_replicas_list.md
  docs/iai_secrets.md
  docs/iai_secrets_create.md
  docs/iai_secrets_delete.md
  docs/iai_secrets_get.md
  docs/iai_secrets_list.md
  docs/iai_secrets_update.md
  docs/iai_services.md
  docs/iai_services_create.md
  docs/iai_services_delete.md
  docs/iai_services_list.md
  docs/iai_services_restart.md
  docs/iai_services_sync.md
  docs/iai_services_update.md
  internal/files/config.go
Due: make-docs

Refactor org and project resolution in session package
  cmd/images.go
  cmd/logs.go
  cmd/projects.go
  cmd/replicas.go
  cmd/secrets.go
  cmd/services.go
  internal/files/config.go
  internal/session/session.go
Due: make-docs

Simplify stackCfg resolution logic
  cmd/images.go
  cmd/logs.go
  cmd/replicas.go
  cmd/services.go
Due: make-docs

Move precedence to flag -> config -> selected
  docs/iai.md
  docs/iai_completion.md
  docs/iai_completion_bash.md
  docs/iai_completion_fish.md
  docs/iai_completion_powershell.md
  docs/iai_completion_zsh.md
  docs/iai_images.md
  docs/iai_images_build.md
  docs/iai_images_list.md
  docs/iai_images_push.md
  docs/iai_login.md
  docs/iai_logout.md
  docs/iai_logs.md
  docs/iai_organizations.md
  docs/iai_organizations_list.md
  docs/iai_organizations_select.md
  docs/iai_projects.md
  docs/iai_projects_list.md
  docs/iai_projects_select.md
  docs/iai_replicas.md
  docs/iai_replicas_list.md
  docs/iai_secrets.md
  docs/iai_secrets_create.md
  docs/iai_secrets_delete.md
  docs/iai_secrets_get.md
  docs/iai_secrets_list.md
  docs/iai_secrets_update.md
  docs/iai_services.md
  docs/iai_services_create.md
  docs/iai_services_delete.md
  docs/iai_services_list.md
  docs/iai_services_restart.md
  docs/iai_services_sync.md
  docs/iai_services_update.md
  internal/session/session.go
Due: make-docs

Bump: 0.0.27 → 0.0.28
  .bumpversion.toml
Due: none

remove mocked integration tests
  internal/clients/api_client_integration_test.go
  internal/clients/deployment_client_integration_test.go
Due: make-docs

bump docs
  docs/iai.md
  docs/iai_completion.md
  docs/iai_completion_bash.md
  docs/iai_completion_fish.md
  docs/iai_completion_powershell.md
  docs/iai_completion_zsh.md
  docs/iai_images.md
  docs/iai_images_build.md
  docs/iai_images_list.md
  docs/iai_images_push.md
  docs/iai_login.md
  docs/iai_logout.md
  docs/iai_logs.md
  docs/iai_organizations.md
  docs/iai_organizations_list.md
  docs/iai_organizations_select.md
  docs/iai_projects.md
  docs/iai_projects_list.md
  docs/iai_replicas.md
  docs/iai_replicas_list.md
  docs/iai_secrets.md
  docs/iai_secrets_create.md
  docs/iai_secrets_delete.md
  docs/iai_secrets_get.md
  docs/iai_secrets_list.md
  docs/iai_secrets_update.md
  docs/iai_services.md
  docs/iai_services_create.md
  docs/iai_services_delete.md
  docs/iai_services_list.md
  docs/iai_services_restart.md
  docs/iai_services_sync.md
  docs/iai_services_update.md
Due: none

remove references to integration tests
  Makefile
  README.md
Due: none

make docs
  docs/iai_organizations_select.md
  docs/iai_projects_select.md
Due: none

Bump: 0.0.28 → 0.0.29
  .bumpversion.toml
Due: none

Fix: use correct precedence for project resolution
  internal/session/session.go
Due: make-docs

Add --version flag and automate version bumping
  .bumpversion.toml
  cmd/root.go
Due: make-docs

Bump: 0.0.29 → 0.0.30
  .bumpversion.toml
Due: none

Fix: resolve orgs and projects unit tests
  docs/iai.md
  docs/iai_completion.md
  docs/iai_completion_bash.md
  docs/iai_completion_fish.md
  docs/iai_completion_powershell.md
  docs/iai_completion_zsh.md
  docs/iai_images.md
  docs/iai_images_build.md
  docs/iai_images_list.md
  docs/iai_images_push.md
  docs/iai_login.md
  docs/iai_logout.md
  docs/iai_logs.md
  docs/iai_organizations.md
  docs/iai_organizations_list.md
  docs/iai_organizations_select.md
  docs/iai_projects.md
  docs/iai_projects_list.md
  docs/iai_projects_select.md
  docs/iai_replicas.md
  docs/iai_replicas_list.md
  docs/iai_secrets.md
  docs/iai_secrets_create.md
  docs/iai_secrets_delete.md
  docs/iai_secrets_get.md
  docs/iai_secrets_list.md
  docs/iai_secrets_update.md
  docs/iai_services.md
  docs/iai_services_create.md
  docs/iai_services_delete.md
  docs/iai_services_list.md
  docs/iai_services_restart.md
  docs/iai_services_sync.md
  docs/iai_services_update.md
  internal/files/config_test.go
  internal/session/session_test.go
Due: make-docs

bump version on cmd/root.go
  cmd/root.go
Due: make-docs

Bump: 0.0.30 → 0.0.31
  .bumpversion.toml
  cmd/root.go
Due: make-docs

Disable automatic update date in docs
  cmd/gen_docs.go
  docs/iai.md
  docs/iai_completion.md
  docs/iai_completion_bash.md
  docs/iai_completion_fish.md
  docs/iai_completion_powershell.md
  docs/iai_completion_zsh.md
  docs/iai_images.md
  docs/iai_images_build.md
  docs/iai_images_list.md
  docs/iai_images_push.md
  docs/iai_login.md
  docs/iai_logout.md
  docs/iai_logs.md
  docs/iai_organizations.md
  docs/iai_organizations_list.md
  docs/iai_organizations_select.md
  docs/iai_projects.md
  docs/iai_projects_list.md
  docs/iai_projects_select.md
  docs/iai_replicas.md
  docs/iai_replicas_list.md
  docs/iai_secrets.md
  docs/iai_secrets_create.md
  docs/iai_secrets_delete.md
  docs/iai_secrets_get.md
  docs/iai_secrets_list.md
  docs/iai_secrets_update.md
  docs/iai_services.md
  docs/iai_services_create.md
  docs/iai_services_delete.md
  docs/iai_services_list.md
  docs/iai_services_restart.md
  docs/iai_services_sync.md
  docs/iai_services_update.md
Due: make-docs

Fix: don't expose server response to user
  cmd/login.go
Due: make-docs

Add installation instructions to main docs page
  cmd/root.go
  docs/iai.md
Due: make-docs

Add docker-compose to test locally with deployment-operator easily
  Makefile
  docker-compose.yml
  generate-kubeconfig.sh
Due: none

Fix: examples referencing old cli name
  examples/1-organizations_list.sh
  examples/10-replica_logs.sh
  examples/10-service_update_httpbin.sh
  examples/11-replicas_list_httpbin.sh
  examples/12-replica_logs.sh
  examples/2-projects_list.sh
  examples/3-images_list.sh
  examples/4-image_build_test.sh
  examples/5-image_push_test.sh
  examples/6-services_list.sh
  examples/7-service_create_httpbin.sh
  examples/8-service_create_autoscaling.sh
  examples/9-replicas_list_httpbin.sh
  examples/9-service_create_fixed_replicas.sh
  examples/stack-config-sample.yaml
Due: none

Enable autoscaling
  cmd/services.go
  docs/iai_services_create.md
  docs/iai_services_update.md
  examples/stack-config-sample.yaml
  internal/clients/deployment_client.go
  internal/files/stack_config.go
  internal/files/stack_config_test.go
Due: make-docs

Delete unused field
  internal/clients/deployment_client.go
Due: make-docs

Add tests to pre-commit
  .pre-commit-config.yaml
Due: none

Migrate stack config tests to table i/o based
  go.mod
  go.sum
  internal/files/stack_config.go
  internal/files/stack_config_test.go
Due: make-docs, check-go-mod-tidy

Refactor input validation in services command
  cmd/services.go
  internal/inputs/services.go
  internal/inputs/services_test.go
Due: make-docs

Bump: 0.0.30 → 0.1.0
  .bumpversion.toml
  cmd/root.go
Due: make-docs

Path conditions:
  make-docs: any of: \.go$
  check-go-mod-tidy: any of: ^go\.mod$
