Repository Interactive-AI-Labs/interactive-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-docs, check-go-mod-tidy, run-unit-tests

make-docs:
  name: Generate CLI documentation
  entry: bash -c 'make docs && git diff --exit-code docs/'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

check-go-mod-tidy:
  name: Check go.mod is tidy
  entry: go mod tidy
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

run-unit-tests:
  name: Run unit tests
  entry: go test ./...
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

DEV-171: Add --remove flag to secrets update command
  cmd/secrets.go
  docs/iai_secrets_update.md
  internal/clients/deployment_client.go
Due: make-docs, run-unit-tests

Add iai binary and docs/plans to gitignore
  .gitignore
Due: none

flatten nested if blocks
  internal/clients/deployment_client.go
Due: make-docs, run-unit-tests

remove 'validate remove keys'
  cmd/secrets.go
Due: make-docs, run-unit-tests

delegate validations to Cobra
  cmd/secrets.go
Due: make-docs, run-unit-tests

improve wording on partial failure
  cmd/secrets.go
Due: make-docs, run-unit-tests

improve wording on success
  cmd/secrets.go
Due: make-docs, run-unit-tests

flatten nested if blocks
  cmd/secrets.go
Due: make-docs, run-unit-tests

ignore serverMessage, we already provide a summary
  cmd/secrets.go
Due: make-docs, run-unit-tests

Bump: 0.6.0 → 0.7.0
  .bumpversion.toml
  cmd/root.go
Due: make-docs, run-unit-tests

Add hint that replica might not exists
  cmd/replicas.go
  internal/clients/deployment_client.go
  internal/output/logs.go
Due: make-docs, run-unit-tests

Add import order to pre-commit
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  cmd/logout.go
  internal/files/stack_config_test.go
Due: make-docs, run-unit-tests

Bump: 0.7.0 → 0.8.0
  .bumpversion.toml
  cmd/root.go
Due: make-docs, run-unit-tests

Migrate pr review to claude code
  .github/workflows/pr-review.yml
Due: none

Fire pr review only when opened and reopened
  .github/workflows/pr-review.yml
Due: none

Run all actions in default cluster
  .github/workflows/auto-tag.yml
  .github/workflows/pr-review.yml
  .github/workflows/pre-commit.yml
Due: none

Install make in pre-commit
  .github/workflows/pre-commit.yml
Due: none

Show all timestamps in local timezone
  internal/output/logs.go
  internal/output/output.go
  internal/output/output_test.go
  internal/output/replicas.go
  internal/output/replicas_test.go
  internal/output/secrets.go
  internal/output/services.go
  internal/output/vector_stores.go
  internal/output/vector_stores_test.go
Due: make-docs, run-unit-tests

Bump: 0.8.0 → 0.8.1
  .bumpversion.toml
  cmd/root.go
Due: make-docs, run-unit-tests

Enable trace commands
  cmd/traces.go
  docs/iai.md
  docs/iai_traces.md
  docs/iai_traces_delete.md
  docs/iai_traces_get.md
  docs/iai_traces_list.md
  internal/clients/api_client.go
  internal/inputs/traces.go
  internal/inputs/traces_test.go
  internal/output/traces.go
  internal/output/traces_test.go
Due: make-docs, run-unit-tests

Add gofumpt for strict go formatting
  .pre-commit-config.yaml
  cmd/services.go
Due: make-docs, run-unit-tests

Add gofumpt for strict go formatting
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  cmd/services.go
Due: make-docs, run-unit-tests

Move struct definitions out of func body
  internal/clients/api_client.go
  internal/clients/deployment_client.go
Due: make-docs, run-unit-tests

Use function for req query params to clean traces list func body
  internal/clients/api_client.go
Due: make-docs, run-unit-tests

Refactor traces validation funcs
  internal/inputs/traces.go
Due: make-docs, run-unit-tests

Add query lib to avoid checking if query params are empty
  go.mod
  go.sum
  internal/clients/api_client.go
Due: make-docs, check-go-mod-tidy, run-unit-tests

Delete not necessary trace delete command
  cmd/traces.go
  docs/iai_traces.md
  docs/iai_traces_delete.md
  internal/clients/api_client.go
Due: make-docs, run-unit-tests

Merge all go installs into same step in pre-commit
  .github/workflows/pre-commit.yml
Due: none

Use actions hash instead of version for security
  .github/workflows/auto-tag.yml
  .github/workflows/pr-review.yml
  .github/workflows/pre-commit.yml
Due: none

Bump: 0.8.1 → 0.9.0
  .bumpversion.toml
  cmd/root.go
Due: make-docs, run-unit-tests

Fix: use page 1 as default since that is the first page
  cmd/traces.go
  docs/iai_traces_list.md
  internal/inputs/traces.go
  internal/inputs/traces_test.go
Due: make-docs, run-unit-tests

Show a warning instead of an error when api key is set in org and projects commands
  cmd/organizations.go
  cmd/projects.go
Due: make-docs, run-unit-tests

Increase trace max limit
  internal/clients/api_client.go
Due: make-docs, run-unit-tests

Improve prettyJSON to support all possible cases
  internal/output/traces.go
  internal/output/traces_test.go
Due: make-docs, run-unit-tests

Stop limiting response sizes from servers
  cmd/images.go
  internal/clients/api_client.go
  internal/clients/deployment_client.go
Due: make-docs, run-unit-tests

Fix: call parent prerun, cobra doesn't chain them
  cmd/traces.go
Due: make-docs, run-unit-tests

Delete duplicated tests
  internal/output/traces_test.go
Due: make-docs, run-unit-tests

Path conditions:
  make-docs: any of: \.go$
  check-go-mod-tidy: any of: ^go\.mod$
  run-unit-tests: any of: \.go$
