Repository Interactive-AI-Labs/interactive-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-docs, check-go-mod-tidy, run-unit-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: make-docs
        name: Generate CLI documentation
        entry: bash -c 'make docs && git diff --exit-code docs/'
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-commit]
        files: '\.go$'

      - id: check-go-mod-tidy
        name: Check go.mod is tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-commit]
        files: ^go\.mod$

      - id: run-unit-tests
        name: Run unit tests
        entry: go test ./...
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-commit]
        files: '\.go$'

Use function for req query params to clean traces list func body
  internal/clients/api_client.go
Due: make-docs, run-unit-tests

Refactor traces validation funcs
  internal/inputs/traces.go
Due: make-docs, run-unit-tests

Use actions hash instead of version for security
  .github/workflows/auto-tag.yml
  .github/workflows/pr-review.yml
  .github/workflows/pre-commit.yml
Due: none

Add gofumpt for strict go formatting
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  cmd/services.go
Due: make-docs, run-unit-tests

Fix: use page 1 as default since that is the first page
  cmd/traces.go
  docs/iai_traces_list.md
  internal/inputs/traces.go
  internal/inputs/traces_test.go
Due: make-docs, run-unit-tests

Run all actions in default cluster
  .github/workflows/auto-tag.yml
  .github/workflows/pr-review.yml
  .github/workflows/pre-commit.yml
Due: none

Improve prettyJSON to support all possible cases
  internal/output/traces.go
  internal/output/traces_test.go
Due: make-docs, run-unit-tests

Add query lib to avoid checking if query params are empty
  go.mod
  go.sum
  internal/clients/api_client.go
Due: make-docs, check-go-mod-tidy, run-unit-tests

Merge all go installs into same step in pre-commit
  .github/workflows/pre-commit.yml
Due: none

Migrate pr review to claude code
  .github/workflows/pr-review.yml
Due: none

Show a warning instead of an error when api key is set in org and projects commands
  cmd/organizations.go
  cmd/projects.go
Due: make-docs, run-unit-tests

Increase trace max limit
  internal/clients/api_client.go
Due: make-docs, run-unit-tests

Enable trace commands
  cmd/traces.go
  docs/iai.md
  docs/iai_traces.md
  docs/iai_traces_delete.md
  docs/iai_traces_get.md
  docs/iai_traces_list.md
  internal/clients/api_client.go
  internal/inputs/traces.go
  internal/inputs/traces_test.go
  internal/output/traces.go
  internal/output/traces_test.go
Due: make-docs, run-unit-tests

Install make in pre-commit
  .github/workflows/pre-commit.yml
Due: none

Bump: 0.7.0 → 0.8.0
  .bumpversion.toml
  cmd/root.go
Due: make-docs, run-unit-tests

Fire pr review only when opened and reopened
  .github/workflows/pr-review.yml
Due: none

Show all timestamps in local timezone
  internal/output/logs.go
  internal/output/output.go
  internal/output/output_test.go
  internal/output/replicas.go
  internal/output/replicas_test.go
  internal/output/secrets.go
  internal/output/services.go
  internal/output/vector_stores.go
  internal/output/vector_stores_test.go
Due: make-docs, run-unit-tests

Move struct definitions out of func body
  internal/clients/api_client.go
  internal/clients/deployment_client.go
Due: make-docs, run-unit-tests

Bump: 0.8.0 → 0.8.1
  .bumpversion.toml
  cmd/root.go
Due: make-docs, run-unit-tests

Delete not necessary trace delete command
  cmd/traces.go
  docs/iai_traces.md
  docs/iai_traces_delete.md
  internal/clients/api_client.go
Due: make-docs, run-unit-tests

Stop limiting response sizes from servers
  cmd/images.go
  internal/clients/api_client.go
  internal/clients/deployment_client.go
Due: make-docs, run-unit-tests

Bump: 0.8.1 → 0.9.0
  .bumpversion.toml
  cmd/root.go
Due: make-docs, run-unit-tests

Delete duplicated tests
  internal/output/traces_test.go
Due: make-docs, run-unit-tests

Fix: call parent prerun, cobra doesn't chain them
  cmd/traces.go
Due: make-docs, run-unit-tests

Fix: minor changes to align api docs with cli docs
  cmd/services.go
  cmd/vector_stores.go
  docs/iai_services_create.md
  docs/iai_services_update.md
  docs/iai_vector-stores_create.md
Due: make-docs, run-unit-tests

Format code
  cmd/gen_docs.go
  cmd/images.go
  cmd/login.go
  cmd/organizations.go
  cmd/projects.go
  cmd/replicas.go
  cmd/root.go
  cmd/secrets.go
  cmd/services.go
  cmd/traces.go
  cmd/vector_stores.go
  internal/clients/api_client.go
  internal/clients/deployment_client.go
  internal/clients/deployment_client_test.go
  internal/clients/http_test.go
  internal/files/cookies_test.go
  internal/files/env_file.go
  internal/files/stack_config.go
  internal/inputs/secrets_test.go
  internal/inputs/services.go
  internal/inputs/traces.go
  internal/inputs/traces_test.go
  internal/output/output_test.go
  internal/output/replicas.go
  internal/output/replicas_test.go
  internal/output/traces.go
  internal/output/traces_test.go
  internal/session/session.go
  internal/session/session_test.go
Due: make-docs, run-unit-tests

Add go lines for go formatting
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

Format correctly the schemas in the md files for prompts
  cmd/gen_docs.go
  cmd/templates/schema_glossary.md
  cmd/templates/schema_macros.md
  cmd/templates/schema_policies.md
  cmd/templates/schema_routines.md
  cmd/templates/schema_variables.md
  docs/iai_glossary.md
  docs/iai_macros.md
  docs/iai_policies.md
  docs/iai_routines.md
  docs/iai_variables.md
Due: make-docs, run-unit-tests

Delete duplicated doc files
  docs/iai_glossary.md
  docs/iai_glossary_create.md
  docs/iai_glossary_delete.md
  docs/iai_glossary_get.md
  docs/iai_glossary_list.md
  docs/iai_glossary_update.md
Due: none

Use glossaries after api change instead of singular
  cmd/glossaries.go
  docs/iai_glossaries_create.md
  docs/iai_glossaries_delete.md
  docs/iai_glossaries_get.md
  docs/iai_glossaries_list.md
  docs/iai_glossaries_update.md
Due: make-docs, run-unit-tests

Move schemas to create/update docs
  cmd/gen_docs.go
  cmd/glossaries.go
  cmd/macros.go
  cmd/policies.go
  cmd/routines.go
  cmd/variables.go
  docs/iai_glossaries.md
  docs/iai_glossaries_create.md
  docs/iai_glossaries_update.md
  docs/iai_macros.md
  docs/iai_macros_create.md
  docs/iai_macros_update.md
  docs/iai_policies.md
  docs/iai_policies_create.md
  docs/iai_policies_update.md
  docs/iai_routines.md
  docs/iai_routines_create.md
  docs/iai_routines_update.md
  docs/iai_variables.md
  docs/iai_variables_create.md
  docs/iai_variables_update.md
Due: make-docs, run-unit-tests

Fix: move golines to non deprecated repo
  .github/workflows/pre-commit.yml
Due: none

Fix: missing wrapping log lines
  cmd/login.go
  cmd/prompts.go
  internal/inputs/services_test.go
Due: make-docs, run-unit-tests

Add test cases for new supported timestamp formats
  internal/output/output_test.go
Due: make-docs, run-unit-tests

Add force flag to delete examples
  cmd/glossaries.go
  cmd/macros.go
  cmd/policies.go
  cmd/routines.go
  cmd/variables.go
  docs/iai_glossaries_delete.md
  docs/iai_macros_delete.md
  docs/iai_policies_delete.md
  docs/iai_routines_delete.md
  docs/iai_variables_delete.md
Due: make-docs, run-unit-tests

Add missing tests in prompts
  internal/output/prompts_test.go
Due: make-docs, run-unit-tests

Bump: 0.9.0 → 0.10.0
  .bumpversion.toml
  cmd/root.go
Due: make-docs, run-unit-tests

Avoid showing long errors when client cancels the request
  internal/clients/api_client.go
  internal/clients/deployment_client.go
Due: make-docs, run-unit-tests
